@media only screen and (min-width: 1300px) and (max-width: 1366px) {
  .container{
    position: relative;
    background-color:#EBE3CC;
    width: 100%;
    height: 100vh;
}
.historyButton{
  opacity: 0;
}
.myEatButton{
  opacity: 1;
}
.balanceButton{
    opacity: 0;
}
.settingsButton{
  opacity: 0;
}
.outButton{
  opacity: 0;
}
.rigthBlock{
    position: absolute;
    margin-top: 85px;
    margin-left: calc(((1366px - 1130px)/2) + 330px);
    width: 800px;
    height: 500px;
}
.table{
    position: relative;
    width: 850px;
    height: 270px;
}
/* row table */

/* col table */
.oneCol{
        position: fixed;
        border-right: 1px solid black;
        width: 150px;
        height: 30px;
        border-left: 1px solid black;

}
.twoCol{
    position: fixed;
    border: 1px solid black;
    margin-left: 150px;
    width: 500px;
    height: 30px;

}
.threeCol{
    position: fixed;
      
    border: 1px solid black;
    margin-left: 650px;
    width: 150px;
    height: 30px;
}
.border{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.Row{
    position: relative;
    /* border: 1px solid black; */
    width: 800px;
    height: 30px;
}
.nineRow{
    background-color: #EFDDB9;
    text-align: end;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    
}
.oneRow{
    background-color: #EFDDB9;
    border: 1px solid black;
    border-top: 1px solid black;
}
input[type = "text"]{
    background-color: #EFDDB9;
    padding-left: 355px;
    border: 0px;
    width: 798px;
    height: 28px;
    margin-left: 0px;
    font-size: 18px;
    outline: none !important;

}
.textTwoCol{
    line-height: 26px;
    padding-right: 10px;
}
.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
/* textDayTableOne */
.textDayTableOne{
    position: absolute;
    margin-top: 75px;
    margin-left: -15px;
    width: 180px;
    height: 150px;
    transform:rotate(270deg);
    border-right:1px solid black ;
    border-left:1px solid black ;
    text-align: center;
    font-size: 22px;
    line-height: 150px;
    
}

/* textDayTableTwo */
.textDayTableTwo{
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
    width: 180px;
    height: 150px;
    transform:rotate(270deg);
    border-right:1px solid black ;
    border-left:1px solid black ;
    text-align: center;
    font-size: 22px;
    line-height: 143px;
    
}
.tableTwo{
  width: 850px;
  margin-top: 0px;
 
}

}