
@media only screen and (min-width: 1900px) and (max-width: 1920px) {
   
    .container{
        position: relative;
        background-color:#EBE3CC;
        width: 100%;
        height: 100vh;
    }
    .historyButton{
      opacity: 0;
    }
    .myEatButton{
      opacity: 1;
    }
    .balanceButton{
        opacity: 0;
    }
    .settingsButton{
      opacity: 0;
    }
    .outButton{
      opacity: 0;
    }
    .rigthBlock{
        position: absolute;
        margin-top: 80px;
        margin-left: calc(((1920px - 1500px)/2) + 400px);
        width: 1100px;
        height: 900px;
    }
    .table{
        position: relative;
        width: 1100px;
        height: 450px;
    }
    /* row table */

    /* col table */
    .oneCol{
            position: fixed;
            border-right: 1px solid black;
            width: 200px;
            height: 50px;
            border-left: 1px solid black;

    }
    .twoCol{
        position: fixed;
        border: 1px solid black;
        margin-left: 200px;
        width: 650px;
        height: 50px;

    }
    .threeCol{
        position: fixed;
          
        border: 1px solid black;
        margin-left: 850px;
        width: 250px;
        height: 50px;
    }
    .border{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
        
        
        

    .Row{
        position: relative;
        /* border: 1px solid black; */
        width: 1100px;
        height: 50px;
    }
    .nineRow{
        background-color: #EFDDB9;
        text-align: end;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        
    }
    .oneRow{
        background-color: #EFDDB9;
        border: 1px solid black;
        border-top: 2px solid black;
    }
    input[type = "text"]{
        background-color: #EFDDB9;
        padding-left: 480px;
        border: 0px;
        width: 1098px;
        height: 47px;
        margin-left: 0px;
        font-size: 20px;
    }
    .textTwoCol{
        line-height: 40px;
        padding-right: 10px;
    }
    .text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 46px;
        text-align: center;
    }
    /* textDayTableOne */
    .textDayTableOne{
        position: absolute;
        margin-top: 150px;
        margin-left: -50px;
        width: 300px;
        height: 200px;
        transform:rotate(270deg);
        border-right:1px solid black ;
        border-left:1px solid black ;
        text-align: center;
        font-size: 35px;
        line-height: 200px;
        
    }

    /* textDayTableTwo */
    .textDayTableTwo{
        position: absolute;
        margin-top: 50px;
        margin-left: -50px;
        width: 300px;
        height: 200px;
        transform:rotate(270deg);
        border-right:1px solid black ;
        border-left:1px solid black ;
        text-align: center;
        font-size: 35px;
        line-height: 200px;
        
    }

}