@media only screen and (min-width: 1300px) and (max-width: 1366px) {

    .container{
        position: relative;
        background-color:#EBE3CC;
        width: 100%;
        height: 100vh;
    }
    .studentsButton{
        opacity: 0;
    }
    .menuButton{
        opacity: 1;
    }
    .settingsButton{
        opacity: 0;
    }
    .outButton{
        opacity: 0;
    }
    .change{
        position: absolute;
        margin-left: 1080px;
        margin-top: 40px;
        width: 220px;
        height: 35px;
        background-color: #D1D696;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;

        color: #000000;
        box-shadow: 0px 4px 12px #423838;
    }
    .blockFree{
        opacity: 1;
        transition: opacity 0.3s linear;
    }
    .blockPay{
        opacity: 0;
        transition: opacity 0.3s linear;
    }
    .blockFreeTable{
        position: absolute;
        margin-top: 100px;
        margin-left: 420px;
        height: 350px;
        width: 880px;
        /* border: 1px solid black; */
        display: inline-flex;
        padding: 0;
        
    } 
    .blockPayTable{
        position: absolute;
        margin-top: 100px;
        margin-left: 420px;
        height: 350px;
        width: 880px;
        /* border: 1px solid black; */
        display: inline-flex;
        padding: 0;
        
    } 
    .colOne{
        display: inline-block;
        width: 100px;
        height: 350px;
    }
    .colTwo{
        display: inline-block;
        width: 580px;
        height: 350px;
    }
    .colThree{
        display: inline-block;
        height: 350px;
        width: 200px;
        	
    }
    /* Первая колонка (строчки) */
    .rowOneColOne{
        background-color: #EFDDB9;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100px; 
        height: 40px;
    }
    .rowTwoColOne{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100px; 
        height: 40px;
    }
    .rowThreeColOne{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100px; 
        height: 240px;
    }
    .rowFourColOne{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100px; 
        height: 40px;
        background-color: #EFDDB9;
    }
    /* Вторая колонка (строчки) */
    .rowOneColTwo{
        padding-left: 150px;
        position: relative;
        background-color: #EFDDB9;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        z-index: 7;
    }
    .rowTwoColTwo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        z-index: 7;
        
        padding-left: 240px;
    }
    .rowThreeColTwo{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        z-index: 3;
    }
    .rowFourColTwo{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        z-index: 3;
    }
    .rowFiveColTwo{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        z-index: 3;
    }
    .rowSixColTwo{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        z-index: 3;
    }
    .rowSevenColTwo{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        z-index: 3;
        

    }
    .rowEightColTwo{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        z-index: 3;
        
    }
    .rowNineColTwo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 580px; 
        height: 40px;
        background-color: #EFDDB9;
        padding-left: 385px;
        
    }
    /* Третья колонка (строчка) */
    .rowOneColThree{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        background-color: #EFDDB9;
    }
    .rowTwoColThree{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        text-align: center;
    }
    .rowThreeColThree{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
    }
    .rowFourColThree{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
    }
    .rowFiveColThree{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
    }
    .rowSixColThree{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
    }
    .rowSevenColThree{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        
    }
    .rowEightColThree{
        position:relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        
    }
    .rowNineColThree{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        background-color: #EFDDB9;
        padding-left: 10px;
    }
    .tr{
        /* border-top: 1px solid black; */
        border-bottom: 1px solid black;
        

    }
    .td{
        border: 1px solid black;
    }
    .blockPayTable{
        position: absolute;
        margin-top: 100px;
        margin-left: 420px;
        height: 350px;
        width: 880px;
        border: 1px solid black;
        border-collapse:collapse;
    } 
    .changeStatus{
        position: absolute;
        width: 200px;
        height: 35px;
        margin-left: 440px;
        margin-top: 40px;
        /* background-color: blue; */
    }
    .left{
        z-index: 2;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        margin-top: 8px;
        transform: rotate(45deg);
        position:fixed;
        
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }
    .rigth{
        z-index: 2;
        width: 20px;
        height: 20px;
        margin-left: 190px;
        margin-top: 8px;
        transform: rotate(45deg);
        position:fixed;
        border-top: 2px solid black;
        border-right: 2px solid black;
        
    }
    .titleStatusOne{
        position:fixed;
        width: 195px;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 35px;
        opacity: 1;
        color: #000000;
        transition: opacity 0.3s linear;

    }
    .titleStatusTwo{
        position:fixed;
        width: 195px;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 35px;
        opacity: 0;
        color: #000000;
        transition: opacity 0.3s linear;
    }
/* Третья колнка class for input */
    
    .text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 35px;
        
        color: #000000;
        box-shadow: 0px 4px 12px #423838;
    }
    input[type="text"]{
        background: #EBE3CC;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        padding-left: 10px;

        color: #000000;
    }
    input[type="date"]{
        
        padding-top: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        
        color: #000000;
    }
    ::-webkit-calendar-picker-indicator {
        margin-top: 3px;
        margin-left: -30px;
        position: absolute;
        color: transparent;
        opacity: 1;
        background: url(../image/svg/history.svg) no-repeat center;
        background-size: contain;
      }
      
    ::-webkit-clear-button {
        opacity: 0;
      }
    ::-webkit-inner-spin-button {
        opacity: 0;
    }
    /* button save free table */
    .buttonFreeSave{
        position: absolute;
        width: 200px;
        height: 40px;
        margin-top: 500px;
        margin-left: 1100px;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 35px;
        
        color: #000000;
        border-radius: 50px;
        background-color: #D1D696;
        text-align: center;
        border: 0.5px solid black;
        
    }
    /* button save Pay table */
    .buttonPaySave{
        border: 0.5px solid black;
        position: absolute;
        width: 200px;
        height: 40px;
        opacity: 0;
        margin-top: 500px;
        margin-left: 1100px;
        pointer-events: none;

        cursor: pointer;
        border-radius: 50px;
        background-color: #D1D696;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        text-align: center;
        line-height: 35px;
        
        color: #000000;

    }
    
}