@font-face {
    font-family: 'Rationale';
    font-style: normal;
    font-weight: 400;
    src: local('Rationale'), local('Rationale-Regular'),
         url('../fonts/rationale-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rationale-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
html{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
}
*, *::before, *::after{
    box-sizing: inherit;
}
@media screen and (max-width: 1536px) {
    .container{
        position: relative;
        background-color:#EBE3CC;
        width: 100%;
        height: 100vh;
    }
    .password{
        position: absolute;
        width: 470px;
        height: 47px;
        left: calc((100vw - 470px)/2);;
        top: 410px;

        background: #EBE3CC;
        border: 1px solid #423838;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .login{
        position: absolute;
        width: 470px;
        height: 47px;
        left: calc((100vw - 470px)/2);;
        top: 350px;
        z-index: 1;
        background: #EBE3CC;
        border: 1px solid #515050;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .login__header{
        position: absolute;
        width: 73px;
        height: 22px;
        left: 560px;
        top: 365px;
        z-index: 2;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        color: #231D1D;
    }
    .password__header{
        position: absolute;
        width: 74px;
        height: 22px;
        left: 560px;
        top: 425px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        color: #231D1D;
    }
    .button__header{
        position: absolute;
        width: 145px;
        height: 24px;
        left: calc((100vw - 145px)/2);;
        top: 529px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

        color: #242424;
    }
    .button{
        position: absolute;
        width: 276px;
        height: 62px;
        left: calc((100vw - 276px)/2);;
        top: 510px;

        background: linear-gradient(180deg, #FFC700 0%, #FFB039 100%);
        box-shadow: 0px 5px 5px rgba(243, 209, 38, 0.25);
        border-radius: 5px;
    }
    .wrapper{
        z-index: 0;
        position: absolute;
        margin-left: calc((100vw - 606px)/2);
        margin-top: calc((100vh - 394px)/2 + 57px);
        width: 606px;
        height: 394px;
        background-color: #fbf5e5;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.39); ;
        border-radius: 23px;
    }
    .wrapper__title{
        position: absolute;
        width: 394px;
        height: 110px;
        margin-left: calc((100vw - 394px)/2);
        margin-top: 131px;

        font-family: Rationale;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 110px;
        
        z-index: 1;
    }
    .header{
        position: absolute;
        width: 268px;
        height: 35px;
        left: calc((100vw - 268px)/2);
        top: 250px;
        z-index: 1;

       
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #2D2727;
    }
    .student__check{
        position: absolute;
        width: 18px;
        height: 18px;
        left: 780px;
        top: 575px;
        z-index: 2;
        /* font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #2D2727; */

    }
    .teacher__check{
        position: absolute;
        width: 18px;
        height: 18px;
        left: 1050px;
        top: 575px;
        z-index: 2;

        /* font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        color: #2D2727; */

    }
    .teacher__title{
        position: absolute;
        width: 18px;
        height: 18px;
        left: 1090px;
        top: 565px;
        z-index: 2;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 44px;
        color: #2D2727;
    }
    .student__title
    {
        width: 18px;
        height: 18px;
        left: 820px;
        top: 565px;
        z-index: 2;
        font-size: 19px;
        line-height: 44px;
    }
}