@media only screen and (min-width: 1900px) and (max-width: 1920px) {
    .students__logo{
        position: absolute;
        width: 180px;
        height: 35px;
        left:192px;
        top: 132px;
        padding-left: 25px;
        z-index: 1;
        background-color: #E15235;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 30px;
    
        color: #000000;
    }
    .logo__title{
        position: absolute;
        width: 222px;
        height: 40px;
        left: 130px;
        top: 72px;
        z-index: 1;
        font-family: Rationale;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 58px;
    
        color: #000000;
    
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .logo__img{
        width: 140px;
        position: absolute;
        left: 33px;
        top: 30px;
        z-index: 1;
    }
    .menu{
        position: absolute;
        width: 400px;
        height: 100vh;
        z-index: 0;

        background: #EBE3CC;
        box-shadow: 0px 4px 25px #695D55;
    }
    .menu__line1{
        position: absolute;
        z-index: 2;
    }
    .menu__line2{
        position: absolute;
        z-index: 2;
    }
    .menu__line3{
        position: absolute;
        z-index: 2;
    }
    .menu__line4{
        position: absolute;
        z-index: 2;
    }
    .menu__line5{
        position: absolute;
        z-index: 2;
    }
    .balance{
        position: absolute;
        height: 70px;
        width: 300px;
        top: 300px;
        left: 40px;
        z-index: 3;
    }
    .balance__title{
        padding-top: calc((70px - 30px)/2);
        padding-left: 90px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 28px;

        color: #000000;
    }
    .balance__logo{
        width: 67px;
        height: 67px;
        margin-top: calc((70px - 67px)/2);
        position: absolute;
        padding-left: 20px;
    }
    .history{
        position: absolute;
        height: 80px;
        width: 300px;
        top: 370px;
        left: 40px;
        z-index: 3;
    }
    .history__title{
        padding-top: calc((70px - 30px)/2);
        padding-left: 90px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 28px;

        color: #000000;
    }
    .history__logo{
        width: 67px;
        height: 67px;
        margin-top: calc((70px - 67px)/2);;
        position: absolute;
        padding-left: 20px;
    }
    .myEat{
        position: absolute;
        height: 70px;
        width: 300px;
        top: 440px;
        left: 40px;
        z-index: 3;
    }
    .myEat__title{
        padding-top: calc((80px - 30px)/2);
        padding-left: 90px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 28px;

        color: #000000;
    }
    .myEat__logo{
        width: 67px;
        height: 67px;
        margin-top: calc((70px - 67px)/2);
        position: absolute;
        padding-left: 20px;
    }
    .menu__line5{
        margin-top: calc((70px - 30px)/2);
        
    }
    .historyButton{
        position: absolute;
        background-color: #C8A79E;
        top: 376px;
        left: 30px;
        left: 10px;
        width: 344px;
        height: 58px;
        z-index: 1;
    }
    .myEatButton{
        position: absolute;
        background-color: #C8A79E;
        top: 446px;
        left: 30px;
        left: 10px;
        width: 344px;
        height: 62px;
        z-index: 1;
    }
    .balanceButton{
        position: absolute;
        background-color: #C8A79E;
        top: 306px;
        left: 30px;
        left: 10px;
        width: 344px;
        height: 58px;
        z-index: 1;
    }
    .settingsButton{
        position: absolute;
        background-color: #C8A79E;
        top: 839px;
        left: 30px;
        width: 304px;
        height: 49px;
        z-index: 1;
        
        box-shadow: 0px 4px 10px #695D55;
    }
    .outButton{
        position: absolute;
        background-color: #C8A79E;
        top: 898px;
        left: 30px;
        width: 304px;
        height: 50px;
        z-index: 1;
        background: #C8A79E;
        box-shadow: 0px 4px 10px #695D55;
    }
    .settings{
        height: 50px;
        position: absolute;
        top: 830px;
        left:50px;
        width: 300px;
        z-index: 2;
        cursor: pointer;
    }
    .settings__logo{
        margin-left: 10px;
        margin-top: 10px;
        width: 47px;
        height: 47px;
        position: absolute;
        z-index: 2;
    }
    .settings__title{
        margin-top: 18px;
        margin-left: 65px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 28px;
        z-index: 2;
        color: #000000;
    }
    .out{
        position: absolute;
        top: 890px;
        width: 300px;
        left:50px;
        height: 50px;
        z-index: 2;
        cursor: pointer;
    }
    .out__logo{
        margin-left: 10px;
        margin-top: 10px;
        width: 47px;
        height: 47px;
        position: absolute;
    }
    .out__title{
        margin-top: 18px;
        margin-left: 65px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 28px;

        color: #000000;
    }
}