
@media only screen and (min-width: 1900px) and (max-width: 1920px) {
    .container{
        position: relative;
        background-color:#EBE3CC;
        width: 100%;
        height: 100vh;
    }
    .historyButton{
      opacity: 1;
    }
    .myEatButton{
      opacity: 0;
    }
    .balanceButton{
        opacity: 0;
    }
    .settingsButton{
      opacity: 0;
    }
    .outButton{
      opacity: 0;
    }
    .historyBlock{
      position: absolute;
      width: 1230px;
      height: 800px;
      
      margin-left:  calc((1920px - 1630px)/2 + 400px);
      margin-top: 100px;
    }
    .weekOne{
      margin-top: 0px;
      position: relative;
      width: 1230px;
      height: 200px;
      
      margin-left: 5px;
    }
    .textNumberOne{
      position: fixed;
      margin-left: 30px;
      width: 30px;
      height: 150px;
      background-color: #D1D696;
      border: 1px solid #423838;
      box-sizing: border-box;
      box-shadow: 0px 4px 7px #423838;
      border-radius: 500px;
    }
    .SummaNumberOne{
      position: fixed;
      margin-top: 155px;
      margin-left:900px;
      width: 200px;
      height: 35px;
      background-color: #D1D696;
    }
    .weekTwo{
      margin-top: 10px;
      position: relative;
      width: 1230px;
      height: 200px;
      
      margin-left: 5px;
    }
    .textNumberTwo{
      position: fixed;
      width: 30px;
      height: 150px;
      margin-left: 30px;
      background-color: #D1D696;
      border: 1px solid #423838;
      box-sizing: border-box;
      box-shadow: 0px 4px 7px #423838;
      border-radius: 500px;
    }
    .SummaNumberTwo{
        position: fixed;
        margin-top: 155px;
        margin-left: 900px;
        width: 200px;
        height: 35px;
        background-color: #D1D696;
    }
    .weekThree{
      margin-top: 10px;
      position: relative;
      width: 930px;
      height: 200px;
      
      margin-left: 5px;
    }
    .textNumberThree{
      position: fixed;
      width: 30px;
      height: 150px;
      margin-left: 30px;
      background-color: #D1D696;
      border: 1px solid #423838;
      box-sizing: border-box;
      box-shadow: 0px 4px 7px #423838;
      border-radius: 500px;
    }
    .SummaNumberThree{
      position: fixed;
      margin-top: 155px;
      margin-left: 900px;
      width: 200px;
      height: 35px;
      background-color: #D1D696;
    }
    .weekFour{
      margin-top: 5px;
      position: relative;
      width: 1230px;
      height: 140px;
      
      margin-left: 5px;
    }
    .textNumberFour{
      position: fixed;
      width: 30px;
      height: 150px;
      margin-left: 30px;
      background-color: #D1D696;
      border: 1px solid #423838;
      box-sizing: border-box;
      box-shadow: 0px 4px 7px #423838;
      border-radius: 500px;
    }
    .SummaNumberFour{
      position: fixed;
      margin-top: 155px;
      margin-left: 900px;
      width: 200px;
      height: 35px;
      background-color: #D1D696;
    }
    .block{
      position: fixed;
      width: 160px;
      height: 150px;
      border: 1px solid #000000;
    }
    .textSumma{
      position: relative;
      margin-top: 50px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 23px;
      margin-left: 30px;
    }
    .One{
      margin-left:140px;
    }
    .Two{
      margin-left:300px;
    }
    .Three{
      margin-left:460px;
    }
    .Four{
      margin-left:620px;
    }
    .Five{
      margin-left:780px;
    }
    .Six{
      margin-left:940px;
    }
    .circle{
      position: fixed;
      width: 40px;
      height: 40px;
      z-index: 3;
      text-align: center;
      margin-top: 5px;
      margin-left: 110px;
      
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;

      border-radius: 50%;
      background-color: #EFDDB9;
      border: 1px solid #242424;
      box-sizing: border-box;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    }
    .text{
      text-align: left;
      padding-left: 10px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 28px;
    }

}